.bukkendetail dl dt{
  margin-bottom: 10px;
}
.bukkendetail dl dd{
  margin-bottom: 10px;
}
#gmap {
  height: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
#map{
  position: absolute;
  height: 100%;
  width:100%;
  bottom:0;
  left:0;
}
.notices {
  padding-left: 6px;
  border-left: 6px solid #008cff;
  background: #e7f2ff;
  padding: 10px;
}
.notices .notice {
  font-size: 1.2em;
}
.logo-text{
  font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
  font-size: 24px;
}

#sp-bottom-menu{
  position: fixed;
  width: 90%;
  bottom: 0px;
  z-index: 10;
}


@media (max-width: 575.98px) {
  .h6{font-size: 14px;}
  h6{font-size: 14px;}
  .h5{font-size: 16px;}
  h5{font-size: 16px;}
}
@media (max-width: 767.98px) { }
@media (max-width: 991.98px) {  }
@media (max-width: 1199.98px) {  }
@media (max-width: 1399.98px) {  }